/* CSS declarations go here */
.blanco{
    color: white;
    text-align: center  ;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.imagenJumbo {
    width: 100%;
    height: 100%;
}.lema
{
   font-style: italic;
}
.titulo
{
    text-align: center;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.forma {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
h1
{
    font-family: fantasy;
}
.Stats
{
    text-align: center;
}
.caja
{

    padding-right: 0px;
    padding-left: 0px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
}
.nombreTeam
{
    font-family: fantasy;
}

table {
    border: 1px solid black;
    margin: 0 auto;


}
tr:nth-child(even){background-color: #f2f2f2}
th{
    font-size: xx-large;
    text-align: center;
    padding: 20px;
}
td
{
    font-size: x-large;
    text-align: center;
    padding: 20px;
}
statsTable
{
    align:center;
}
.car
{
    width: 300px; height: 100px;
}
.tablaStats
{

    border-collapse: separate;

}
.ima{

    display:block;
    margin:auto;

}
.landdl
{
    width: 10%;
    height: 10%;
}
.tituloLibro
{
    font-style: italic;
}
.imagenLibro
{
    width: 80%;
    height: 80%;
}
.descLibro
{
    font-size: large;
}

.historia
{
    font-size: large;
    text-align: justify;
}
.contenedora
{
    border-style: solid;
}
.descripcion{
    text-align: justify;
}
.fotoPerfil
{
    width: 300px; height: 300px;
}
.fotoScuderia{
    width: 300px; height: 100px;
    border: 5px;

}
.descripcion
{
    font-size: x-large;
}
.about, h6
{
    text-align: justify;
}
.uniandes
{
    width: 50%;
    height: 30%;
}
.f1logo{

    width: 100%;
    height: 100%;
}
.imageHomePage
{
    width: 80%;
    height: 10%;
}


.jumbotron
{
    background:#101010;
    align-items: center;
}
.col-sm-4
 {
     align-items: center;
 }
.col-sm-6
{
    align-items: center;
}
.btn-facebook
{
    background-color: #3b5998;
}
.btn-facebook:hover
{
    background-color: #4c70ba;
}
a.btn-social,
.btn-social
{
    border-radius: 50%;
    color: #ffffff !important;
    display: inline-block;
    height: 54px;
    line-height: 54px;
    margin: 8px 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    webkit-transition: background-color .3s;
    width: 54px;
    display:inline-block;
    text-align:center
}

.btn-social .fa,.btn-social i
{
    backface-visibility: hidden;
    moz-backface-visibility: hidden;
    ms-transform: scale(1);
    o-transform: scale(1);
    transform: scale(1);
    transition: all .25s;
    webkit-backface-visibility: hidden;
    webkit-transform: scale(1);
    webkit-transition: all .25s;
}
.btn-social:hover,.btn-social:focus
{
    color: #fff;
    outline: none;
    text-decoration: none;
}
.btn-social:hover .fa,.btn-social:focus .fa,.btn-social:hover i,.btn-social:focus i
{
    ms-transform: scale(1.3);
    o-transform: scale(1.3);
    transform: scale(1.3);
    webkit-transform: scale(1.3);
}
.btn-social.btn-xs
{
    font-size: 9px;
    height: 24px;
    line-height: 13px;
    margin: 6px 2px;
    width: 24px;
}
.btn-social.btn-sm
{
    font-size: 13px;
    height: 36px;
    line-height: 18px;
    margin: 6px 2px;
    width: 36px;
}
.btn-social.btn-lg
{
    font-size: 22px;
    height: 72px;
    line-height: 40px;
    margin: 10px 6px;
    width: 72px;
}
.btn-github
{
    background-color: #4183c4;
}
.btn-github:hover
{
    background-color: #689cd0;
}
.btn-instagram
{
    background-color: #3f729b;
}
.btn-instagram:hover
{
    background-color: #548cb9;
}
.btn-twitter
{
    background-color: #55acee;
}
.btn-twitter:hover
{
    background-color: #83c3f3;
}
